@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Prelegal brand colors. */
@theme {
  --color-brand-yellow: #ecad0a;
  --color-brand-blue: #209dd7;
  --color-brand-purple: #753991;
  --color-brand-navy: #032147;
  --color-brand-gray: #888888;
}
